@model IEnumerable<La_Game.Models.QuestionList>

<table id="listOverview" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Description</p>
            </th>
            <th>
                <p>Code</p>
            </th>
            <th>
                <p>Active</p>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
            <tr>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionListName)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionListDescription)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.participationCode)
                </td>
                <td onclick="Redirect('@link')">
                    @if (item.isActive == 0 || item.isActive == null)
                    {
                        <t>No</t>
                    }
                    else
                    {
                        <t>Yes</t>
                    }
                </td>
                <td>
                    @if (item.isActive == 0 || item.isActive == null)
                    {
                        using (Html.BeginForm("ActivateList", "QuestionLists", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" value="Activate" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-add"></span> Activate
                            </button>
                            <input type="hidden" name="idQuestionList" value="@item.idQuestionList" />
                            <input type="hidden" name="idLesson" value="@Html.Raw(ViewBag.lessonID)" />
                            <input type="hidden" name="ActivationString" value="@Html.Raw("activate")" />
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("ActivateList", "QuestionLists", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" value="Deactivate" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Deactivate
                            </button>
                            <input type="hidden" name="idQuestionList" value="@item.idQuestionList" />
                            <input type="hidden" name="idLesson" value="@Html.Raw(ViewBag.lessonID)" />
                            <input type="hidden" name="ActivationString" value="@Html.Raw("deactivate")" />
                        }
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("ParticipantLessonOverview", "Lessons", new { questionListID = item.idQuestionList, lessonID = ViewBag.lessonID }) + "'");">
                        <span class="glyphicon glyphicon-list-alt"></span> Results
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>