@model La_Game.Models.QuestionList

@{
    ViewBag.Title = "Details";
    var questionList = ViewBag.questions;
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<div>
    <h2>Questionlist Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.questionListName)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.questionListDescription)
        </dd>

        <dt>
            Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participationCode)
        </dd>

        <dt>
            Active
        </dt>

        <dd>
            @{
                if (Model.isActive == 0 || Model.isActive == null)
                {
                    <t>No</t>
                }
                else
                {
                    <t>Yes</t>
                }
            }
        </dd>
    </dl>

    <h3>
        Questions
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("ModifyQuestionList", "QuestionLists", new { id = Model.idQuestionList }) + "'");">
            <span class="glyphicon glyphicon-list-alt"></span> Add/Remove Questions
        </button>
    </h3>

    <table id="details" class="table table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    Question
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Audio
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in questionList)
            {
                var link = Url.Action("Details", "Questions", new { id = item.idQuestion });

                IEnumerable<La_Game.Models.Question> questions = ViewBag.questions;
                var number = questions.ToList().FindIndex(a => a.idQuestion == item.idQuestion);
                <tr>
                    <td onclick="Redirect('@link')" style="text-align: center">
                        @(number + 1)
                    </td>
                    <td onclick="Redirect('@link')">
                        @item.questionText
                    </td>
                    <td onclick="Redirect('@link')">
                        @item.picture
                    </td>
                    <td onclick="Redirect('@link')">
                        @item.audio
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "QuestionLists") + "'");">
        <span class="glyphicon glyphicon-menu-left"></span> Back to list
    </button>
</p>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#details').DataTable(
                {
                    "pagingType": "simple",
                }
            );
        });
    </script>
}