@model IEnumerable<La_Game.Models.QuestionList>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Description</p>
        </th>
        <th>
            <p>Code</p>
        </th>
        <th>
            <p>Active</p>
        </th>
        <th>
            <p>Lesson</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
        <tr>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.questionListName)
            </td>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.questionListDescription)
            </td>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.participationCode)
            </td>
            <td onclick="Redirect('@link')">
                @if (item.isActive == 0 || item.isActive == null)
                {
                    <t>No</t>
                }
                else
                {
                    <t>Yes</t>
                }
            </td>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.Lesson.lessonName)
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-wrench"></span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idQuestionList })
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.idQuestionList })
                </button>
            </td>
        </tr>
    }

</table>