@model IEnumerable<La_Game.Models.QuestionList>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Description</p>
        </th>
        <th>
            <p>Code</p>
        </th>
        <th>
            <p>Active</p>
        </th>
        <th>
            <p>Lesson</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
        <tr onclick="Redirect('@link')">
            <td>
                @Html.DisplayFor(modelItem => item.questionListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.questionListDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.participationCode)
            </td>
            <td>
                @if (item.isActive == 0 || item.isActive == null)
                {
                    <p>No</p>
                }
                else
                {
                    <p>Yes</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.lessonName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idQuestionList }) |
                @Html.ActionLink("Details", "Details", new { id = item.idQuestionList }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idQuestionList })
            </td>
        </tr>
    }

</table>