@model IEnumerable<La_Game.Models.QuestionList>

@{
    ViewBag.Title = "Overview";
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<h2>Questionlist Overview</h2>

<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Create", "QuestionLists") + "'");">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </button>
</p>
<table id="overview" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Description</p>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
            <tr>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionListName)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionListDescription)
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "QuestionLists", new { id = item.idQuestionList }) + "'");">
                        <span class="glyphicon glyphicon-wrench"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "QuestionLists", new { id = item.idQuestionList }) + "'");">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");">
        <span class="glyphicon glyphicon-menu-left"></span> Back to dashboard
    </button>
</p>


@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#overview').DataTable(
                {
                    "pagingType": "simple",
                    "columnDefs": [
                        { targets: 2, orderable: false }
                    ]
                }
            );
        });
    </script>
}