@model IEnumerable<La_Game.Models.QuestionList>
@using System.Security.Claims;

@{
    ViewBag.Title = "Overview";
}
@Styles.Render("~/Content/dataTables")
<div class="container">
    <h2>
        Questionlist Overview
        
    </h2>
    <hr />
    <div class="row col-md-12">
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Create", "QuestionLists") + "'");">
            <span class="glyphicon glyphicon-plus"></span> Create New
        </button>
    </div>
    @if (((ClaimsIdentity)User.Identity).Claims.First(u => u.Type == ClaimTypes.Role).Value.ToString() == "1")
    {
        using (Html.BeginForm("Index", "QuestionLists", FormMethod.Get))
        {
    <div class="row col-md-12 top-buffer">
        <div class="form-inline">
            <select name="filter" class="form-control input-sm">
                <option value="active">Show active</option>
                <option value="inactive">Show inactive</option>
                <option value="all">Show all</option>
            </select>
            <button type="submit" value="filter" class="btn btn-default btn-sm"> Filter </button>
        </div>
    </div>
        }
    }
    <div class="row col-md-12 top-buffer">
        <table id="overview" class="table table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Description</p>
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
                    <tr>
                        <td onclick="Redirect('@link')">
                            @Html.DisplayFor(modelItem => item.questionListName)
                        </td>
                        <td onclick="Redirect('@link')">
                            @Html.DisplayFor(modelItem => item.questionListDescription)
                        </td>
                        <td>
                            <button type="button" @(!ViewBag.dictionary[item.idQuestionList] ? "disabled" : "") class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "QuestionLists", new { id = item.idQuestionList }) + "'");">
                                <span class="glyphicon glyphicon-wrench"></span> Edit
                            </button>

                            @if (item.isHidden == 1)
                            {
                                <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "QuestionLists", new { idQuestionList = item.idQuestionList }) + "'");">
                                    <span class="glyphicon glyphicon-plus"></span> Activate
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "QuestionLists", new { idQuestionList = item.idQuestionList }) + "'");">
                                    <span class="glyphicon glyphicon-remove"></span> @(ViewBag.dictionary[item.idQuestionList] ? "Delete" : "Remove")
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row col-md-12">
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Dashboard") + "'");">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to dashboard
        </button>
    </div>

</div>
@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#overview').DataTable(
                {
                    "pagingType": "simple",
                    "columnDefs": [
                        { targets: 2, orderable: false }
                    ]
                }
            );
        });
    </script>
}