@model IEnumerable<La_Game.Models.QuestionList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.questionListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionListDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.lessonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.questionListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionListDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.participationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson.lessonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idQuestionList }) |
            @Html.ActionLink("Details", "Details", new { id=item.idQuestionList }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idQuestionList })
        </td>
    </tr>
}

</table>
