@model IEnumerable<La_Game.Models.Question>

@{
    ViewBag.Title = "Modify Questionlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<div>
    <h2>
        Add/Remove Question
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Details", "QuestionLists", new { id = ViewBag.listId }) + "'");">
            <span class="glyphicon glyphicon-menu-left"></span> Back to list
        </button>
    </h2>

    <div class="container">
        <div class="row">
            <div class="table-responsive col-md-6">
                <table id="removeQuestion" class="table table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                Question
                            </th>
                            <th style="text-align: center">
                                Picture
                            </th>
                            <th style="text-align: center">
                                Audio
                            </th>
                            <th></th>
                        </tr>
                    <thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            var link = Url.Action("Details", "Questions", new { id = item.idQuestion });

                            IEnumerable<La_Game.Models.Question> questions = ViewBag.questions;
                            var number = questions.ToList().FindIndex(a => a.idQuestion == item.idQuestion);
                            <tr>
                                <td onclick="Redirect('@link')" style="text-align: center">
                                    @(number + 1)
                                </td>
                                <td>
                                    <div>
                                        <div class="col-md-1">
                                            @if (number + 1 != 1)
                                            {
                                                using (Html.BeginForm("MoveQuestionInList", "QuestionLists", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" value="MoveUp" class="btn btn-default btn-xs" )>
                                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                                    </button>

                                                    <input type="hidden" name="Question_idQuestion" value="@Html.Raw(item.idQuestion)" />
                                                    <input type="hidden" name="QuestionList_idQuestionList" value="@Html.Raw(ViewBag.listId)" />
                                                    <input type="hidden" name="movedTo" value=@(number - 1) />
                                                    <input type="hidden" name="upDown" value=0 />
                                                }
                                            }
                                        </div>

                                        <div class="col-md-1">
                                            @if (number + 1 != questions.Count())
                                            {
                                                using (Html.BeginForm("MoveQuestionInList", "QuestionLists", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" value="MoveDown" class="btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>

                                                    <input type="hidden" name="Question_idQuestion" value="@Html.Raw(item.idQuestion)" />
                                                    <input type="hidden" name="QuestionList_idQuestionList" value="@Html.Raw(ViewBag.listId)" />
                                                    <input type="hidden" name="movedTo" value=@(number + 1) />
                                                    <input type="hidden" name="upDown" value=1 />
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td onclick="Redirect('@link')">
                                    @Html.DisplayFor(modelItem => item.questionText)
                                </td>
                                <td onclick="Redirect('@link')" style="text-align: center">
                                    @{
                                        if (!String.IsNullOrEmpty(item.picture))
                                        {
                                            <p><span class="glyphicon glyphicon-ok"></span></p>
                                        }
                                    }
                                </td>
                                <td onclick="Redirect('@link')" style="text-align: center">
                                    @{
                                        if (!String.IsNullOrEmpty(item.audio))
                                        {
                                            <p><span class="glyphicon glyphicon-ok"></span></p>
                                        }
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("DeleteQuestionFromList", "QuestionLists", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" value="Remove" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </button>
                                        <input type="hidden" name="Question_idQuestion" value="@Html.Raw(item.idQuestion)" />
                                        <input type="hidden" name="QuestionList_idQuestionList" value="@Html.Raw(ViewBag.listId)" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-md-6">
                @{Html.RenderAction("GetQuestionTable", "QuestionLists");}
            </div>
        </div>
    </div>

</div>


@section scripts {

    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#removeQuestion').DataTable(
                {
                    "pagingType": "simple",
                    "columnDefs": [
                        {
                            targets: "_all",
                            orderable: false
                        }
                    ]
                }
            );
        });

        $(document).ready(function () {
            $('#addQuestion').DataTable(
                {
                    "pagingType": "simple",
                    "columnDefs": [
                        {
                            targets: 3,
                            orderable: false
                        }
                    ]
                }
            );
        });
    </script>
}