@model La_Game.Models.Language
@using System.Security.Claims;

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/dataTables")

<div class="container">
    <div class="row">
        <div>
            <h2>Language Details</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Language
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.languageName)
                    </dd>
                </dl>
            </div>
            <h3>
                Active Members
                @if (((ClaimsIdentity)User.Identity).Claims.First(u => u.Type == ClaimTypes.Role).Value.ToString() == "1")
                {
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("ManageMemberList", "Languages", new { idLanguage = Model.idLanguage }) + "'");">
                        <span class="glyphicon glyphicon-list"></span> Manage Members
                    </button>
                }
            </h3>
            <div class="table-responsive col-md-6">
                @{Html.RenderAction("GetLanguageMembers", "Languages");}
            </div>
        </div>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#languageMembers').DataTable(
                {
                    "pagingType": "simple",
                    "bLengthChange": false,
                    "bFilter": false
                }
            );
        });
    </script>
}
