@model La_Game.Models.Language

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<div class="container">
    <div class="row">
        <div>
            <h2>Language Details</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Language
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.languageName)
                    </dd>

                </dl>
            </div>
            <h3>
                Active Members
                <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("AddMemberToLanguage", "Languages", new { languageId = Model.idLanguage }) + "'");">
                    <span class="glyphicon glyphicon-plus"></span> Add Members
                </button>
            </h3>
            <div class="table-responsive col-md-6">
                @{Html.RenderAction("GetLanguageMembers", "Languages");}
            </div>
        </div>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#languageMembers').DataTable(
                {
                    "pagingType": "simple",
                    "bLengthChange": false,
                    "bFilter": false,
                    "columnDefs": [{ targets: 2, orderable: false }]
                }
            );
        });
    </script>
}
