@model IEnumerable<La_Game.Models.Language>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/dataTables")

<h2>
    Languages
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Create", "Languages") + "'");">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </button>
</h2>

<table id="language" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Language
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var link = Url.Action("Details", "Languages", new { id = item.idLanguage });
            <tr>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.languageName)
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "Languages", new { id = item.idLanguage }) + "'");">
                        <span class="glyphicon glyphicon-wrench"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "Languages", new { id = item.idLanguage }) + "'");">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");">
        <span class="glyphicon glyphicon-chevron-left"></span> Back to dashboard
    </button>
</p>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#language').DataTable(
                {
                    "pagingType": "simple",
                    "bLengthChange": false,
                }
            );
        });
    </script>
}