<div>
    <div id="filter">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p>Language</p>
                                    @Html.DropDownList("lst_Languages", null, "No filter", htmlAttributes: new { @class = "form-control", @id = "ddlanguages" })

                                </div>
                                <a href="~/Views/Participants/Results.cshtml">~/Views/Participants/Results.cshtml</a>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p>Lesson</p>
                                    @Html.DropDownList("lst_Lessons", null, "No filter", htmlAttributes: new { @class = "form-control", @id = "ddlessons" })

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p>QuestionList</p>
                                    @Html.DropDownList("lst_QuestionLists", null, "No filter", htmlAttributes: new { @class = "form-control", @id = "ddquestionLists" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <hr />
    </div>
</div>
<script src="~/Scripts/filterrefresh.js"></script>

