@{
    ViewBag.Title = "Common Wrong Answers";
}

<div class="container">
    <h2> Common Wrong Answers </h2>
    <hr />
    <div>
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group">
                    <h4>Filter Questions</h4>
                    @{Html.RenderAction("CommonWrongAnswerFilter", "Statistics", new { questionListID = ViewBag.questionListID, lessonID = ViewBag.lessonID });}
                    <canvas id="barChart" width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("QuestionStatistics", "Statistics") + "'");">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to Question Statistics
        </button>
        <button type="button" id="exportButton" class="btn btn-default btn-sm">Pdf</button>
    </p>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script>
        var myBarChart;
        createChart();

        function createChart()
        {
            var c = document.getElementById("barChart");
            var ctx = c.getContext("2d");
            var tData = $.getValues('/Statistics/BarChartDataCommonWrongAnswers');
            myBarChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: tData,
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 10
                            }
                        }]
                    }
                }
            });

            $("#barChart").click(
                function (evt) {
                    var activePoints = myBarChart.getElementsAtEvent(evt);

                    if (activePoints.length > 0) {
                        //get the internal index of slice in pie chart
                        var clickedElementindex = activePoints[0]["_index"];

                        //get specific label by index
                        var label = myBarChart.data.labels[clickedElementindex];

                        //get value by index
                        var value = myBarChart.data.datasets[0].data[clickedElementindex];

                        /* other stuff that requires slice's label and value */
                        var url = '@Url.Action("Details", "Questions", new {})' + "?id=" + label.split(':')[0];
                        window.location.href = url;
                    }
                }
            );



            $("#exportButton").click(function () {
                var selectLanguage = document.getElementById('ddlanguages');
                var selectLesson = document.getElementById('ddlessons');
                var selectQuestionList = document.getElementById('ddquestionLists');

                var selectedLanguage = selectLanguage.options[selectLanguage.selectedIndex].text;
                var selectedLesson = selectLesson.options[selectLesson.selectedIndex].text;
                var selectedQuestionList = selectQuestionList.options[selectQuestionList.selectedIndex].text;
                var text = "Language: " + selectedLanguage + " | " + "Lesson: " + selectedLesson + " | Question list: " + selectedQuestionList;
                var dataURL = c.toDataURL();
                console.log(dataURL);
                

                var pdf = new jsPDF('l', 'mm', [297, 210]);
                pdf.text(20, 20, text);
                pdf.addImage(dataURL, 'PNG', 20, 50, 250, 105);
                pdf.save("Common_wrong_answer.pdf");
            });
        }

        function updateChart(idLanguage, idLesson, idQuestionList)
        {
            var tData = $.getValues('/Statistics/BarChartDataCommonWrongAnswers?idLanguage=' + idLanguage + '&idLesson=' + idLesson + '&idQuestionList=' + idQuestionList);
            if (tData !== null) {
                myBarChart.data = tData;
            }
            else
            {
                myBarChart.data.datasets = [];
                myBarChart.data.labels = [];
            }
            myBarChart.update();
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/filterrefresh.js")
}