@{
    ViewBag.Title = "Lesson Statistics";
}


<div class="container">
    <h2> Lesson Statistics </h2>
    <hr />
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("CompareLessons", "Statistics") + "'");">
                        <span class="glyphicon glyphicon-stats"></span> Compare Lessons
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("EffectivenessLesson", "Statistics") + "'");">
                        <span class="glyphicon glyphicon-stats"></span> Effectiveness Lessons
                    </button>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Statistics") + "'");">
                        <span class="glyphicon glyphicon-menu-left"></span> Back to Statistics
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
