@model La_Game.Models.Participant

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var results = ViewBag.questionslist;
    var answersids = ViewBag.answerids;
    var answers = ViewBag.answers;
}

<h2>Results from @Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h2>

@foreach (var item in results)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>@Html.Raw(item.questionListName)</h4>
        </div>

                <div class="panel-body">

                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="well">
                                    <p style="text-align:center">Questions in questionlist</p>
                                    <h2 style="text-align: center">@Html.Raw(item.QuestionCount)</h2>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well ">
                                    <p style="text-align:center">Number of attempts</p>
                                    <h2 style="text-align: center">@Html.Raw(item.HighestAttempt)</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.RouteLink("Details", "ParticipantResultQuestionList", new { participantId = Model.idParticipant, questionlistId = item.questionListId, }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>

        
    </div>
}
    <button class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Dashboard") + "'");"><span class="glyphicon glyphicon-chevron-left"></span> Back to dashboard</button>