@model La_Game.Models.AnswerOption

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnswerOption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correctAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correctAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answerText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.questionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.questionText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAnswer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
