@model IEnumerable<La_Game.Models.AnswerOption>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correctAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.questionText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.correctAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.questionText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAnswer }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAnswer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAnswer })
        </td>
    </tr>
}

</table>
