@model IEnumerable<La_Game.Models.QuestionList>

<table id="addQuestionList" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Description</p>
            </th>
            <th>
                <p>Code</p>
            </th>
            <th>
                <p>Active</p>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
            <tr>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionListName)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionListDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.participationCode)
                </td>
                <td onclick="Redirect('@link')">
                    @if (item.isActive == 0 || item.isActive == null)
                    {
                        <t>No</t>
                    }
                    else
                    {
                        <t>Yes</t>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("AddList", "Lessons", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" value="Add" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>

                        <input type="hidden" name="Lesson_idLesson" value="@Html.Raw(ViewBag.idLesson)" />
                        <input type="hidden" name="QuestionList_idQuestionList" value="@Html.Raw(item.idQuestionList)" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>