@model La_Game.Models.Lesson

@{
    ViewBag.Title = "Lesson Details";
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<div class="container">
    <div class="row">
        <div>
            <h2>Lesson Details</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Lesson
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lessonName)
                    </dd>

                    <dt>
                        Description
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    <dt>
                        Language
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Language.languageName)
                    </dd>

                </dl>
            </div>
            <h3>
                Questionlists
                <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("ManageLists", "Lessons", new { idLesson = Model.idLesson }) + "'");">
                    <span class="glyphicon glyphicon-list-alt"></span> Manage Questionlists
                </button>
            </h3>
            <div class="table-responsive col-md-8">
                @{Html.RenderAction("GetQuestionListsTableForLesson", "QuestionLists", new { idLesson = Model.idLesson });}
            </div>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Lessons", new { idLanguage = Model.Language_idLanguage }) + "'");">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to list
        </button>
    </p>

</div>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#listOverview').DataTable(
                {
                    "pagingType": "simple",
                    "bLengthChange": false,
                    "bFilter": false,
                    "columnDefs": [
                        { targets: [2, 4, 5], orderable: false },
                        { targets: '_all', orderable: true }
                    ]
                }
            );
        });
    </script>
}