@model IEnumerable<La_Game.Models.Lesson>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<h2> Overview Lessons - @ViewBag.Language.languageName</h2>

<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Create", "Lessons", new { idLanguage = ViewBag.Language.idLanguage }) + "'");">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </button>
</p>
<table id="lessonOverview" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Lesson
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var link = Url.Action("Details", "Lessons", new { idLesson = item.idLesson, idLanguage = ViewBag.idLanguage });
            <tr>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.lessonName)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "Lessons", new { idLesson = item.idLesson }) + "'");">
                        <span class="glyphicon glyphicon-wrench"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "Lessons", new { idLesson = item.idLesson }) + "'");">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");">
        <span class="glyphicon glyphicon-chevron-left"></span> Back to dashboard
    </button>
</p>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#lessonOverview').DataTable(
                {
                    "pagingType": "simple",
                    "bFilter": false,
                    "columnDefs": [
                        { targets: 2, orderable: false }
                    ]
                }
            );
        });
    </script>
}