@model IEnumerable<La_Game.Models.QuestionResult>

@{
    ViewBag.Title = "Question Result Overview";
}

<h2> Overview Question Results by Participant - @ViewBag.Language</h2>

<table class="table">
    <tr>
        <th>
            QuestionList ID
        </th>
        <th>
            AnswerOption ID
        </th>
        <th>
            Participant ID
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionList_idQuestionList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerOption_idAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Participant_idParticipant)
        </td>
        <td>
            @{var startTime = item.startTime.HasValue ? item.startTime.Value.ToString("dd-MM-yyyy") : "-";}
            @Html.DisplayFor(modelItem => startTime)
        </td>
        <td>
            @{var endTime = item.endTime.HasValue ? item.endTime.Value.ToString("dd-MM-yyyy") : "-";}
            @Html.DisplayFor(modelItem => endTime)
        </td>
    </tr>
}

</table>
