@model IEnumerable<La_Game.Models.QuestionResult>

@{
    ViewBag.Title = "Question Result Overview";
}

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<h2> Overview Question Results by Participant - @ViewBag.Language</h2>

<table class="table">
    <tr>
        <th>
            QuestionList ID
        </th>
        <th>
            AnswerOption ID
        </th>
        <th>
            Participant ID
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var link = Url.Action("Details", "Lessons", new { id = item.idQuestionResult });
    <tr>
        <td onclick="Redirect('@link')">
            @Html.DisplayFor(modelItem => item.QuestionList_idQuestionList)
        </td>
        <td onclick="Redirect('@link')">
            @Html.DisplayFor(modelItem => item.AnswerOption_idAnswer)
        </td>
        <td onclick="Redirect('@link')">
            @Html.DisplayFor(modelItem => item.Participant_idParticipant)
        </td>
        <td onclick="Redirect('@link')">
            @{var startTime = item.startTime.HasValue ? item.startTime.Value.ToString("dd-MM-yyyy") : "-";}
            @Html.DisplayFor(modelItem => startTime)
        </td>
        <td onclick="Redirect('@link')">
            @{var endTime = item.endTime.HasValue ? item.endTime.Value.ToString("dd-MM-yyyy") : "-";}
            @Html.DisplayFor(modelItem => endTime)
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "Lessons", new { id = item.idQuestionResult }) + "'");">
                <span class="glyphicon glyphicon-list-alt"></span> Results
            </button>
        </td>
    </tr>
}

</table>
