@model La_Game.Models.Question

@{
    ViewBag.Title = "Create";
}


<h2>Create Question</h2>


@using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.questionText, "Question", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.questionText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.questionText, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.picture, "Picture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="image" type="file" id="fileImage" accept=".jpg,.jpeg,.png" onchange="readURL(this)" />

                <img id="impPrev" Height="250" width="250" style="display:none" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.audio, "Audio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="FileAudio" name="FileAudio" accept=".mp3,,wav" />
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="form-horizontal">
            <h4>Answers</h4>
            <hr />
            <div class="form-check col-md-4">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="answerType" id="likert" value="likert" required>
                    Likert scale
                </label>
            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="answerType" id="multiplechoice" value="multiplechoice">
                    Multiple choice
                </label>
            </div>
        </div>
    </div>
    <div>
        <div class="createMcAnswer col-md-12">
            <div class="form-horizontal">
                <div id="test" style="display:none" class="col-sm-12">
                    <hr />
                    <input type="radio" name="likertOption" value="1"> Thumbs<br>
                    <input type="radio" name="likertOption" value="2"> Smileys<br>
                    <input type="radio" name="likertOption" value="3"> Numbers
                </div>
            </div>
        </div>
        <div class="createMcAnswer col-md-12">
            <div class="form-horizontal">
                <hr />
                <div id="Option" style="display:none" class="col-sm-12" onchange="val()">
                    @Html.Partial("_QuestionPartial")
                    @Html.Partial("_QuestionPartial")
                </div>
                <a class="btn btn-success" id="AddAnswer" style="display:none" data-url='@Url.Action("AddAnswerOption", "Questions")'><i class="fas fa-plus"> Add answer</i></a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="btnSubmit"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ValidateFileUpload.js")
    @Scripts.Render("~/Scripts/answer.js")
    @Scripts.Render("~/Scripts/correctAnswer.js")
    @Scripts.Render("~/Scripts/CheckForEmptyFields.js")
}
