@model IEnumerable<La_Game.Models.Question>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/dataTables")

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<h2> Question Overview </h2>

<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Create", "Questions") + "'");">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </button>
</p>
<table id="questionOverview" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Picture
            </th>
            <th>
                Audio
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var link = Url.Action("Details", "Questions", new { id = item.idQuestion });
            <tr>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.questionText)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.picture)
                </td>
                <td onclick="Redirect('@link')">
                    @Html.DisplayFor(modelItem => item.audio)
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "Questions", new { id = item.idQuestion }) + "'");">
                        <span class="glyphicon glyphicon-wrench"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "Questions", new { id = item.idQuestion }) + "'");">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
<p>
    <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");">
        <span class="glyphicon glyphicon-chevron-left"></span> Back to dashboard
    </button>
</p>

@section scripts {
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#questionOverview').DataTable(
                {
                    "pagingType": "simple",
                    "columnDefs": [
                        { targets: 3, orderable: false }
                    ]
                }
            );
        });
    </script>
}