@model La_Game.Models.Member

@{
    ViewBag.Title = "Dashboard";
}

<script type="text/javascript">
    function Redirect(link) {
        location.href = link;
    }
</script>

<div class="jumbotron">
    <h1>Welcome, @Html.DisplayFor(model => model.username) </h1>
    <p class="lead"> From this page you will be able to access all the functions of the application.</p>
</div>

<div class="row">
    <div class="table-responsive col-md-4">
        <h2>Your Languages</h2>
        @{Html.RenderAction("GetLanguageOverview", "Home", new { memberId = Model.idMember });}
    </div>
    <div class="col-md-4">
        <div>
            <h2>Questions and Lists</h2>
            <p>
                <button type="button" class="btn btn-default btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "QuestionLists") + "'");">
                    <span class="glyphicon glyphicon-list-alt"></span> Questionlist Overview
                </button>
            </p>
            <p>
                <button type="button" class="btn btn-default btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "Questions") + "'");">
                    <span class="glyphicon glyphicon-list-alt"></span> Question Overview
                </button>
            </p>
        </div>
        <div>
            <h2>Participants</h2>
            <p>
                <button type="button" class="btn btn-default btn-lg" onclick="@("window.location.href='" + @Url.Action("Create", "Participants") + "'");">
                    <span class="glyphicon glyphicon-plus"></span> Create new Participant
                </button>
            </p>
            <p>
                <button type="button" class="btn btn-default btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "Participants") + "'");">
                    <span class="glyphicon glyphicon-list-alt"></span> Participant  Overview
                </button>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>
            <button type="button" class="btn btn-default btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "Statistics") + "'");">
                <span class="glyphicon glyphicon-stats"></span> Statistics
            </button>
        </p>
    </div>

</div>