@model La_Game.Models.StartListModel
<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
        <section id="loginForm">
            @using (Html.BeginForm("TestEntryForm", "StudentTest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Enter credentials
                    </h4>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Studentcode, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Studentcode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Studentcode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Participationcode, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Participationcode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Participationcode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-default" id="btntestentry">
                                <span class="glyphicon glyphicon-chevron-right"></span> Go
                            </button>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<script src="~/Scripts/studenttest.js"></script>